 body
  {
background-color: aqua;
background-image:  url(https://aspcodeprod.blob.core.windows.net/school-dev/4907157.jpg);
        background-size: cover;
        background-repeat: no-repeat;

  }
   p
   {
    font-family: sans-serif;
    color: blue;
   }
   a{
    color: yellow;
   }
   h1{
    color: red;
   }
   .grad
{
    height: 30px;
    background-image: linear-gradient(red, yellow);
}
.bluebg 
{
background-color: blue;
}