

  header {
     display: flex;
    justify-content: center; 

  }
  main {
    display: flex;
    justify-content: center; 
  }

    article {
     display: flex;
    justify-content: center; 

  }
